<section class="taw-response">
  <div class="layout-center">
    <div class="layout-body">
      <div class="card card-response page-curl shadow-bottom">
        <header class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-center">
                <div class="name">Heather</div>
                <div class="join">&amp;</div>
                <div class="name">Michael</div>
              </h1>
            </div>
          </div>
        </header>

        <div class="content container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <p ng-hide="attendees">
                <span ng-show="alternateReceptionInvitees.length">Please <span ng-show="isTouch">tap</span> <span ng-show="!isTouch">click on</span> the name of each person who will attend the DC wedding.</span>
                <span ng-hide="alternateReceptionInvitees.length">Please <span ng-show="isTouch">tap</span> <span ng-show="!isTouch">click on</span> the name of each person who will attend.</span>
              </p>

              <p ng-show="attendees">
                <strong>Thank you!</strong> We have <span class="attendees-count">{{attendees}}</span> down for your party.
              </p>
            </div>
          </div>
        </div>

        <div class="content attendees container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <p class="text-center" ng-repeat="invitee in group.invitees track by invitee._id.$oid">
                <button type="button" class="btn btn-lg btn-invitee" ng-click="toggleAttending(invitee)"
                        ng-class="{'btn-default':!invitee.attending,'btn-primary':invitee.attending}">
                  <span>{{invitee.givenName}} {{invitee.familyName}}</span>
                </button>
              </p>
            </div>
          </div>
        </div>

        <div class="content container-fluid">
          <div class="row" ng-hide="attendees">
            <div class="col-xs-12">
              <p>
                <span ng-show="alternateReceptionInvitees.length">You're invited to celebrate with us at a reception in Clyde, OH, on Saturday, June 28, 2014, if you're unable to attend the wedding ceremony and reception in DC. If no one in this party is attending the DC wedding, no further response is needed.</span>
                <span ng-hide="alternateReceptionInvitees.length">If no one in this party is attending, no further response is needed.</span>
              </p>
              <br>
            </div>
          </div>
          <div class="row" ng-show="attendees">
            <div class="col-xs-12">
              <p>
                <strong>If you have any questions or comments</strong>, feel free to enter them in the form below. <strong>Also, we'd like your phone number or e-mail address</strong> in case we need to contact you with any announcements (type in the space below).
              </p>
            </div>
          </div>
          <div class="row" ng-show="attendees">
            <div class="col-xs-12">
              <form>
                <div class="form-group">
                  <textarea
                      class="form-control input-lg"
                      rows="5"
                      ng-model="group.comments"
                      placeholder="Please type your comments and contact information here."></textarea>

                  <p class="help-block text-right">
                    <em>Comments are saved as you type.</em>
                  </p>
                </div>
              </form>

              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 text-left">
              <a class="btn btn-lg btn-default" ng-href="#/?s=1">
                <i class="fa fa-arrow-left"></i> Invitation
              </a>
            </div>
            <div class="col-xs-9 text-right">
              <a ng-show="attendees" class="btn btn-lg btn-primary" ng-href="#/?s=3">
                <span ng-show="isTouch">Tap</span> <span ng-show="!isTouch">Click</span> for the Itinerary <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <footer></footer>

        <div class="fader"></div>
      </div>
    </div>
  </div>
</section>
