<section class="taw-itinerary" ng-init="disclosed=true">
  <div class="map">
    <div class="map-canvas"></div>
  </div>

  <div class="card card-itinerary" ng-class="{'hidden-down':!disclosed}">
    <header class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">
            <a ng-href="#/?s=2" class="pull-left">
              <i class="fa fa-chevron-circle-left"></i>
            </a>

            <div class="name">Itinerary</div>

            <a ng-hide="disclosed" ng-click="disclosed=true" ng-href="" class="pull-right">
              <i class="fa fa-list-ol"></i>
            </a>
            <a ng-show="disclosed" ng-click="disclosed=false" ng-href="" class="pull-right">
              <i class="fa fa-map-marker"></i>
            </a>
          </h1>
        </div>
      </div>
    </header>

    <div class="content container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p class="help-block">
            There's a map behind this card showing points of interest for the wedding! You can hide this card by clicking the <i
              class="fa fa-map-marker"></i> icon on the top right.
          </p>
        </div>
      </div>

      <div class="row" ng-show="preludePartyInvitees.length">
        <div class="col-xs-12">

          <h2 class="text-center">Friday, April 4</h2>

          <p>You're invited to join us for a pre-wedding party!</p>

          <h3 class="text-center">6:30 pm</h3>

          <p>Meet us in the Gatehouse Sitting Area (near the lobby) at Residence Inn for dinner and drinks.</p>

          <p class="text-center" taw-itinerary-image="/images/residence-inn/wasry_phototour15.jpg"></p>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          <h2 class="text-center">Saturday, April 5</h2>

          <p>All wedding-day events will take place at locations along Crystal Drive in Crystal City, Virginia. There is ample public parking in underground garages all along Crystal Drive.</p>

          <h3 class="text-center">4:30 pm</h3>

          <p>Join us at Crystal City Water Park for acoustic guitar music before the ceremony.</p>

          <p class="text-center" taw-itinerary-image="/images/crystal-city-water-park/water-park-tbdstaff-1015_606.jpg"></p>

          <h3 class="text-center">5:00 pm</h3>

          <p>Wedding ceremony at Crystal City Water Park!</p>

          <p class="text-center" taw-itinerary-image="/images/crystal-city-water-park/5D2_04984.jpg"></p>

          <h3 class="text-center">7:00 - 9:30 pm</h3>

          <p>Reception at Jaleo.</p>

          <p class="text-center" taw-itinerary-image="/images/jaleo/79370E11-1D09-08FB-3BA22343AE93409B.jpg"></p>

          <h3 class="text-center">9:30 pm</h3>

          <p>Reception continues (for people who haven't had enough to drink yet) at Jaleo's bar. We'll migrate from the event room and take it over.</p>

          <h2 class="text-center">Sunday, April 6</h2>

          <p>
            Our first day of married life! <i class="fa fa-circle"></i> <i class="fa fa-link"></i> We wish you safe travels home! <i class="fa fa-smile-o"></i>
          </p>

          <p class="text-center" taw-itinerary-image="/images/people/heather-and-michael-st-croix.jpg" taw-immediate="true"></p>

        </div>
      </div>
    </div>

    <footer></footer>

    <div class="fader"></div>
  </div>
</section>
