@import '../../public/vendor/bootstrap/less/mixins';
@import 'variables';

.card {
  position: relative;
  min-width: 100%;
  min-height: 100%;

  &.card-invitation {
    #gradient > .vertical(@cream, darken(@cream, 5%));

    display: table;

    > .foo {
      height: 100%;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
