@import '../../public/vendor/bootstrap/less/mixins';
@import '../../public/vendor/bootstrap/less/variables';
@import 'variables';

.card {
  width: 100%;
  height: 100%;

  &.card-invitation,
  &.card-response {
    > .card-inner {
      min-width: 100%;
      min-height: 100%;

      display: table;
      padding: @grid-gutter-width * 2;

      font-family: 'Cinzel', serif;

      > .content {

        #gradient > .vertical(@cream, darken(@cream, 5%));

        .border-left-radius(@grid-gutter-width/4);
        .border-right-radius(@grid-gutter-width/4);

        box-shadow: 1px 1px 0px 0px darken(@cream, 10%);

        height: 100%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
      }
    }

    &.card-invitation {
      > .content {
        > .container-fluid {
          h1 {
            font-size: 3vw;
            text-shadow: 1px 1px 0px lighten(@cream, 5%);

            margin-top: @grid-gutter-width;
            margin-bottom: @grid-gutter-width;
          }

          p {
            font-size: 1.5vw;
            text-shadow: 1px 1px 0px lighten(@cream, 5%);
          }

          .btn-rsvp {

          }
        }
      }
    }

    &.card-response {
      > .content {
        > .container-fluid {
          p {
            font-size: 1.5vw;
            text-shadow: 1px 1px 0px lighten(@cream, 5%);
          }
        }
      }
    }
  }
}
