<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heather Nieset and Michael Ahlers</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="@controllers.routes.Assets.at("index.min.css")">
    <script data-main='@routes.Assets.at("index")' type='text/javascript' src='@routes.WebJarAssets.at("requirejs/2.1.11/require.js")'></script>
  </head>
  <body ng-cloak ng-view></body>
</html>
