<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Heather Nieset and Michael Ahlers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("index.min.css")">

    @*<script type="text/javascript" data-main="assets/index" src="assets/vendor/requirejs/require.js"></script>*@
    <script data-main='@routes.Assets.at("index")' type='text/javascript' src='@routes.WebJarAssets.requirejs()'></script>
  </head>
  <body ng-cloak>
    <div ng-view></div>
  </body>
</html>
